[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
bootstrap-flask = "*"
#requests = "*"
#bs4 = "*"
flask-socketio = "*"
#flask-pymongo = "*"
flask-sqlalchemy = "*"
#mongoengine = "*"
#flask-mongoengine = "*"
flask-admin = "*"
flask-login = "*"
pytest-flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
