body{
    background-color: white;
    background-image: url('https://3.bp.blogspot.com/-p0BK25tz_NQ/XD930R755FI/AAAAAAAAAuM/R3KTBmnz3uUKukfCXlEadpjkJ7COfbfZQCKgBGAs/w0/galaxy-stars-space-24-4k.jpg');
    background-repeat: no-repeat;
    background-size: 200% 200%;
  }
    @font-face {
      font-family: Nasa;
      src: url("nasalization.otf");
    }


    *{
      margin:0,0;
      padding:0,0; 
    }
    .page-footer{
      background: rgb(14, 5, 145);
      position: relative;
      color:white;
      padding-bottom: 50px;
      font-family: 'Roboto';
    }
    span{
      color:white;
    }
    .navbar{
    background: rgb(18, 1, 112);
    font-family: 'Charter';
    color:white;
    }
    .orange{
      color: orange;
    }
    .video_porn{
      text-align: center;
    }
    .thumb_porn{
      height: 10%;
      width: 92%;
    }

    .navbar-collapse{
      align-items: left;
    }
    .bt_search{
      border-radius: 10px 10px;
      background-color: orangered;
      border:1px solid;
    }
    .search_porn_input{
      border:solid 1px;
      border-radius: 10px;
      border-color: white;
      padding: 0;
    }
    .frame_video{
      text-align: center;
      height: 209%;
      width: 100%;
    }
    .green{
      color:green;
    }
    .red{
      color:red;
    }
    .black{
      color:black;
    }
    .bold{
      font-weight: bold;
    }

    .box {
      min-width: 200px;
      height: 100px;
      background-color: red;
      margin: 1rem;
    }
    .scrolling-wrapper {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
    .app {
      /* display: flex;
      flex-wrap: nowrap; */
      overflow-x: scroll;
    }
    

    p{
      font-family: 'Roboto';
      color:white;
      font-size:99%;
      margin:0;
      
    }

.publish0 p{
    color:black;
  
}

.news0{
  width: 100%;
  box-sizing: border-box;
}

.news0 p{
  color:black;

}

.news_div{
  width:60%;
}

.icon_footer img{
  height: 50px;
}

.footer_text{
  color:grey;
  font-family: Nasa;
}
#container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: lightyellow;
}
#container > div {
  width: 100px;
  height: 100px;
  border: 2px dashed red;
}

.row {
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.block {
  width: 100px;
  display: inline-block;
}

.if{
  margin-left: 30%;
}