
<!doctype html>


<html lang="pt">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <!-- <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        /> -->
        <!-- <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        /> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

      

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
       
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta name="description" content="Jogue o seu jogo de exoplanetas">
        <meta property="og:description" content="Jogue o seu jogo de exoplanetas!">
        <meta name="twitter:description" content="Jogue o seu joguinho de exoplanetas!">
        
        <meta property="og:image" content="{{url_for('static',filename='img/android_ico.png')}}">
        <meta name="twitter:image" content="{{url_for('static',filename='img/apple_ico.png')}}">


        <meta property="og:title" content="ExoGame">
        <meta name="twitter:title" content="Exogame">
        
        {% block styles %}
    
        <link rel='stylesheet' href='{{ url_for("static", filename="css/index.css") }}'/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% block title %}<title> ExoGame </title>{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}
        <nav class="navbar navbar-expand-lg navbar-light text-light">
            <div class="container-fluid">
                <h2><a class="navbar-brand text-light" href="#" id='home'><img class="logo" src='{{url_for("static",filename="img/android_ico.png")}}' size="10px"></a><span class='title'></span></h2>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/help"><span></span></a>
                        </li>
                
                        <li class="nav-item">
                          <a class="nav-link" href="/about"><span></span></a>
                        <!-- </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><span>Catálogo de Asteroides</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/insta_posts"><span>Instagram Posts</span></a>
                        </li> -->
      
                      </ul>
                    </div>
            
        </nav>
        {% endblock %}

        {% block page %}
        <div id="app" class="app">

       
          </div>
        
<!-- 
          <div class="scrolling-wrapper">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div> -->
          
        {% endblock %}

        {% block footer %}
            <!-- <br><br><br><br><br>
            <br><br><br><br><br> -->
            <!-- <br><br><br><br><br> -->
        
        </div>
            <!-- Footer -->
        
            <footer class="page-footer font-small blue pt-4">

              <button onclick="play()"><span id="'icon_player" class="material-icons md-18">volume_down</span></button>
              
            <div class="row">
             
              <span>

              <div class="block icon_footer slim git" size="100px">
                <a title="GitHub - ReinanBr" href="https://github.com/reinanbr"><img src='{{url_for("static",filename="img/git.png")}}'></a>
                <span class="footer_text">ReinanBr</span>
              </div>
              <div class="block text-center if icon_footer" size="100px">
                <a title="IFSertãoPE - campus Petrolina" href="https://ifsertao-pe.edu.br/index.php/campus/petrolina"><img src='{{url_for("static",filename="img/if.png")}}'></a>
                <span class="footer_text"></span>
              </div>
              <div class="block text-center if icon_footer slim">
                <a title="CNPq - Erivelton Façanha" href="http://lattes.cnpq.br/0796057995545047"><img src='{{url_for("static",filename="img/erivelton.gif")}}'></a>
                <span class="footer_text">Dr. Prof. Erivelton Façanha </span>
              </div>
              </span>
            </div>
            <hr>
                <div class="footer-copyright copy text-center py-3 footer_text">© 2022 Reinan<span id='server_status'></span>
                    
                    <p class="footer_text">Copyright</p>
            </footer> 
        {% endblock %}

  

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
            <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>  
            <script src="{{url_for('static',filename='js/app.js')}}"   <!-- <script type="text/javascript" charset="utf-8">
            username=localStorage.getItem('username')

                var socket = io();
                
                socket.on('connect', function() {
                    socket.emit('connected', {'username':username,'text': 'I\'m connected!'});
                $('#server_status').html(`<i title='Server Online' class="material-icons green">brightness_1</i>`)
                });
                socket.on('disconnect',()=>{
                    $('#server_status').html(`<i title='Server Offline' class="material-icons red">brightness_1</i>`)
                });

                window.onbeforeunload = function () {
                    socket.emit('disconnected', {'username':username,'text':`I'm exit`});
                }
            </script> 
        {% endblock %}

    </body>
</html>